lab/laboratorio_2/ejercicio1/ClienteFormsTemp/Connected Services/TempService/Temp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaTemperatura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaTemperaturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaTemperaturaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaTemperaturaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaTemperatura" />
  </wsdl:message>
  <wsdl:message name="ConsultaTemperaturaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaTemperaturaResponse" />
  </wsdl:message>
  <wsdl:portType name="TempSoap">
    <wsdl:operation name="ConsultaTemperatura">
      <wsdl:input message="tns:ConsultaTemperaturaSoapIn" />
      <wsdl:output message="tns:ConsultaTemperaturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TempSoap" type="tns:TempSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaTemperatura">
      <soap:operation soapAction="http://tempuri.org/ConsultaTemperatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TempSoap12" type="tns:TempSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaTemperatura">
      <soap12:operation soapAction="http://tempuri.org/ConsultaTemperatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Temp">
    <wsdl:port name="TempSoap" binding="tns:TempSoap">
      <soap:address location="https://localhost:44326/Temp.asmx" />
    </wsdl:port>
    <wsdl:port name="TempSoap12" binding="tns:TempSoap12">
      <soap12:address location="https://localhost:44326/Temp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>